/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle at top, #0b0f1a, #05070d);
  font-family: Arial, sans-serif;
  color: #fff;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.navbar a {
  color: #cbd5e1;
  margin-left: 20px;
  text-decoration: none;
}

.navbar a:hover {
  color: #f5c542;
}

/* HERO */
.hero {
  padding: 90px 60px 60px;
}

.hero-text h1 {
  font-size: 46px;
}

.hero-text span {
  color: #f5c542;
}

.hero-text p {
  margin: 14px 0 30px;
  color: #94a3b8;
}

.hero-buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 12px 22px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn.primary {
  background: linear-gradient(135deg, #f5c542, #ffb703);
  color: #000;
}

.btn.secondary {
  border: 1px solid #38bdf8;
  color: #38bdf8;
}

.btn:hover {
  box-shadow: 0 0 18px rgba(245,197,66,0.6);
}

/* TIMELINE */
.timeline {
  padding: 60px;
}

.timeline h2 {
  margin-bottom: 40px;
  font-size: 26px;
}

.timeline-items {
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
}

.timeline-item {
  text-align: center;
}

.timeline-item i {
  font-size: 32px;
  color: #f5c542;
  margin-bottom: 12px;
}

.timeline-item h3 {
  font-size: 18px;
  margin-bottom: 6px;
}

.timeline-item p {
  font-size: 14px;
  color: #94a3b8;
}